<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <header th:fragment="header">
            <ul>
                <!--/*<li><a href="/console/">H2 Console</a></li>*/-->
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/events' ? 'active':''}" sec:authorize="hasAnyAuthority('ADMIN', 'USER')"><a th:href="@{/events}">Events</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}" sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/users}">Users</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/signups' ? 'active':''}"><a th:href="@{/signups}">Own signups</a></li>
            </ul>
                <div th:replace="fragments/header :: login"></div>
            
        </header>
        <div th:fragment="login">
<div class="loggedin" sec:authorize="isAuthenticated()">
    Logged in as <span sec:authentication="name">USER</span> <a th:href="@{/logout}">Log out</a>.    

    <a th:href="@{/users/own}">Own details</a>
</div>
<div class="log" sec:authorize="isAnonymous()">
  <a th:href="@{/login}">Log in</a>
</div>
        </div>           
    </body>
</html>
