<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User list</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <div>..</div>
        </header>

        <table>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}">Nimi</td>
                <td th:text="${user.username}">Account</td>
                <td><div th:each="role: ${user.roles}" th:remove="tag"><span th:text="${role.name}">ROLE</span><form th:action="@{/users/{id}/denounce(id=${user.id})}" th:method="PUT" style="display:inline"><input type="hidden" th:name="auth" th:value="${role.name}"/><input type="submit" value="x" /></form> &nbsp;</div></td>
                <td><form th:action="@{/users/{id}/promote(id=${user.id})}" th:method="PUT"><select name="auth"><option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}">ROOLI</option></select><input type="submit" value="Add" /></form></td>
                <td><form th:action="@{/users/{id}(id=${user.id})}" th:method="DELETE"><input type="submit" value="Delete" /></form></td>
            </tr>
        </table>
        
        <h3>Create a new user</h3>

        <form action="#" th:action="@{/users}" th:object="${newuser}" method="POST">
            <p><label for="name">Name</label>: <input type="text" th:field="*{name}" name="name" id="name"/></p>
           
            <p><label for="account">Account</label>: <input type="text" th:field="*{username}" name="account" id="account"/></p>
            <p><label for="password">Password</label>: <input type="text" th:field="*{password}" name="password" id="password"/></p>
            <span th:each="role, iterStat : ${roles}" th:remove="tag"><label th:for="role_" th:text="${role.name}"></label><input type="checkbox" name="rolesSelected" th:value="${role.name}"/></span>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>

