<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User details</title>
    </head>
    <body>
        <header th:replace="fragments/header :: header">
            <div>..</div>
        </header>
        <h2>Your info</h2>
        <!--/* FIXED FLAW 1: SQL-injection (A1) */-->
        <div th:object="${user}">
            <p><span>Name: </span><span th:text="*{name}">Users full name</span></p>
            <p><span>Email: </span><span th:text="*{email}">Address</span></p>
        </div>

        <h3>Change password</h3>

        <!--/* FIXED FLAW (2): CSRF Cross site request forgery for password change, passed on as GET */-->
        <form action="#" th:action="@{/users/own/password}" th:method="PUT">
            <p><label for="password">Current password:</label>: <input type="password" name="password" /></p>
            <p><label for="newpassword1">New password</label>: <input type="password" name="newpassword1" id="name"/></p>
            <p><label for="newpassword2">New password again</label>: <input type="password" name="newpassword2" id="address"/></p>
            <!--/* FIXED FLAW very riski error message */-->
            <div th:unless="${#httpServletRequest.getParameter('error') == null}">
                 Password not changed. Check current password and whether password confirmation.
            </div>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
    </body>
</html>

